/*Universal Styling*/

* {
  background-color: rgb(246,243,249);
}

body {
  margin: 0px;
}

body * {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: rgb(119, 78, 144);
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.button {
  background-color: white;
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e8e8ee;
}

img {
  width: 100px;
  height: 100px;
}

/*Navigation Bar Styling*/

#nav-bar {
  z-index: 2;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(221,209,231, 0.98);
  top: 0;
  position: fixed;
  border-bottom: 2px solid rgb(119, 78, 144);
  width: 100%;
}

#nav-bar li{
  background-color: rgba(221,209,231, 0);
  display:inline;
}

#nav-bar a{
  display:inline-block;
  padding:10px;
}

.logo {
  padding-top: 12px;
  background-color: rgba(221,209,231, 0);
  margin-left: 15%;
  margin-right: 15%;
}

#logo {
  height: 50px;
  width: 72px;
  background-color: rgba(221,209,231, 0);
}

/*Search Bar Styling*/

#search-text {
  margin-top: 60px;
  width: 500px;
  height: 50px;
  position: fixed;
  left: 50%;
  margin-left: -250px;

  border-top-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
  border-bottom-color: rgb(119, 78, 144);
  border-bottom-width: 2px;
  font-size: 1.3em;
}

#search-text:focus {
  outline: none;
}

/*Results Styling*/

#users {
  float: left;
  display: inline;
  margin-top: 120px;
  width: 100%;
}

.user {
  margin: 10px;
  text-decoration: none;
  width: 300px;
  border: 2px solid rgb(119, 78, 144);
  border-radius: 10px;
}

.user-stats {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.user-stats tr {
  display: block;
  width: 100%;
}

.user-following {
  padding-left: 45px;
  padding-right: 70px;
}

.user a {
  width: 100%;
  text-decoration: none;
}

.user .button {
  height: 40px;
  width: 150px;
}
