<!doctype HMTL>
<html>
  <head>
    <title>Chirp - Account Settings</title>
    <link href="account-settings.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo:100" rel="stylesheet">
  </head>
  <body>
    <div id="login-div">
    <img src="logo.png" alt="Chirp logo">
      <div id="form-div">
        <form id="login-form" action="" method="POST" enctype="multipart/form-data">
          <h2>Account Settings</h2>
          <label for="firstname">FIRST NAME</label>
          <input id='user-field' class='text-fields' type="text" name="firstname"/>
          <br/>
          <label for="lastname">LAST NAME</label>
          <input id='pass-field' class='text-fields' type="text" name="lastname"/>
          <br/>
          <label for="image">PROFILE PICTURE</label>
          <input id='image' class='text-fields' type="file" name="image"/>
          <a class="button" id="button-create">Confirm Settings</a>
          <a href="home" class="button" id="button-setuplater">Set Up Later</a>
          <a class="button" id="button-delete">Delete Account</a>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src='account-settings.js'></script>
  </body>
</html>
