<!doctype HMTL>
<html>
  <head>
    <title>Chirp - Create Account</title>
    <link href="login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="login-div">
    <img src="logo.png" alt="Chirp logo">
      <form id="login-form" action="" method="POST" enctype="multipart/form-data">
        <h2>Create Account</h2>
        <label for="username">
          Username
          <input id='user-field' type="text" name="username"/>
        </label>
        <br />
        <label for="password">
          Password
          <input id='pass-field' type="password" name="password"/>
        </label>
        <br />
        <label for="confirm-password">
          Confirm password
          <input id="confirm-password"  type="password" name="confirmPassword"/>
        </label>
        <br />
        <input id="button-create" type="submit" value="Create Account">
      </form>
      <a href="login">Back to Login</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  </body>
</html>
