<!doctype HMTL>
<html>
  <head>
    <title>Chirp - Login</title>
    <link href="login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo:100" rel="stylesheet">
  </head>
  <body>
    <img src="logo.png" alt="Chirp logo">
    <div id="form-div">
      <form id="login-form" action="" method="POST">
        <h2>Login</h2>
        <div class="alert-div" id="invalid-user-pass"><%=context.alert%></div>
        <label for="username"><b>USERNAME</b></label>
        <input id='user-field' class='text-fields' type="text" name="username"/>
        <br/>
        <label for="password"><b>PASSWORD</b></label>
        <input id='pass-field' class='text-fields' type="password" name="password"/>
        <br/>
        <button class="button">Login</button>
        <a href='create-account' class="back-link"><b>Create account</b></a>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  </body>
</html>
