<!doctype HMTL>
<html>
  <head>
    <title>Chirp - Login</title>
    <link href="login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="login-div">
    <img src="logo.png" alt="Chirp logo">
      <form id="login-form" action="" method="POST" enctype="multipart/form-data">
        <h2>Login</h2>
        <label for="username">
          Username
          <input id='user-field' type="text" name="username"/>
        </label>
        <br />
        <label for="password">
          Password
          <input id='pass-field' type="text" name="password"/>
        </label>
        <br />
        <input id="button-login" type="submit" value="Login">
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src='login.js' type='text/javascript'></script>
  </body>
</html>
