<!doctype HMTL>
<html>
  <head>
    <title>Chirp - Login</title>
    <link href="login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="login-div">
    <img src="logo.png" alt="Chirp logo">
      <form id="login-form" action="" method="POST" enctype="multipart/form-data">
        <h2>Login</h2>
        <label for="username">
          Username
          <input type="text" name="username"/>
        </label>
        <br />
        <label for="password">
          Password
          <input type="text" name="password"/>
        </label>
        <br />
        <input id="button-login" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
